# Dependencies
node_modules/
bun.lockb

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build outputs
dist/
build/

/src/generated/prisma
